{% extends 'layout.twig' %}

{% block view %}
<h1>Добавление новой краски</h1>
<br>
<form action="#" method="post">
    <div class="form-group">
        <label for="id-name">Наименование</label>
        <input type="text" name="name" id="id-name">
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
{% endblock %}
